## ExMAS
> Exact Matching of Attractive Shared rides (ExMAS) for system-wide strategic evaluations
> 
> Kucharski R., Cats O. ,_Transportation Research Part: B_, 2020

---
#### Walkthrough

In [1]:
import os
cwd = os.getcwd()

In [2]:
os.chdir(os.path.join(cwd,'..'))
import ExMAS
import ExMAS_utils

In [3]:
from ExMAS_utils import inData as inData

### prepare

1. __load the default config__ (see more details in `ExMAS/notebooks/01 configuration.ipynb`)

In [4]:
params = ExMAS_utils.get_config('data/configs/default.json') # load the default

2. __load the network__ (see more details in `ExMAS/notebooks/02 NetworkGraphs.ipynb`)

In [5]:
inData = ExMAS_utils.load_G(inData, params, stats=True)  # download the graph

3. __generate trip requests__ (see more details in `ExMAS/notebooks/02 NetworkGraphs.ipynb`)

In [6]:
inData = ExMAS_utils.generate_demand(inData, params, avg_speed=False)

### run

In [7]:
inData = ExMAS.main(inData, params)

03-07-20 11:05:22-INFO-Initializing pairwise trip shareability between 200 and 200 trips.
03-07-20 11:05:22-INFO-creating combinations
03-07-20 11:05:22-INFO-39800	 nR*(nR-1)
03-07-20 11:05:24-INFO-Reduction of feasible pairs by 99.32%
03-07-20 11:05:24-INFO-Degree 2 	Completed
03-07-20 11:05:24-INFO-trips to extend at degree 2 : 600
03-07-20 11:05:24-INFO-At degree 2 feasible extensions found out of 70 searched
03-07-20 11:05:24-INFO-Degree 3 	Completed
03-07-20 11:05:24-INFO-trips to extend at degree 3 : 70
03-07-20 11:05:24-INFO-At degree 3 feasible extensions found out of 5 searched
03-07-20 11:05:24-INFO-Degree 4 	Completed
03-07-20 11:05:24-INFO-trips to extend at degree 4 : 5
03-07-20 11:05:24-INFO-At degree 4 feasible extensions found out of 0 searched
03-07-20 11:05:24-INFO-Degree 5 	Completed
03-07-20 11:05:24-INFO-No more trips to exted at degree 5
03-07-20 11:05:25-INFO-Matching 200 trips to 875 rides in order to minimize u_veh
03-07-20 11:05:25-INFO-Problem solution: Optimal.
Total costs for single trips:         65,670
reduced by matching to:               53,670
03-07-20 11:05:26-INFO-Calculations  completed
03-07-20 11:05:26-INFO-DotMap(VehHourTrav=53145, VehHourTrav_ns=65670, PassHourTrav=72272, PassHourTrav_ns=65670, PassUtility=978.3956249999999, PassUtility_ns=1018.98, mean_lambda=0.28026251255342505, revenue_s=68953.5, revenue_ns=98505.0, Fare_Discount=-0.3, nR=200, SINGLE=98, PAIRS=35, TRIPLES=8, QUADRIPLES=2, QUINTETS=0, PLUS5=0, shared_ratio=0.51, fleet_size_nonshared=26.0, fleet_size_shared=21.0, lambda_shared=0.28026251255342505)

### results:
> illustrative example of 100 rides

KPIs

In [8]:
KPIs = inData.sblts.res.to_frame()
KPIs['description']  = ExMAS_utils.KPIs_descriptions
KPIs.columns = ['KPI', 'description']
KPIs

,KPI,description
VehHourTrav,53145,total travel time of vehicles (with travellers...
VehHourTrav_ns,65670,as above yet in non-shared scenarion
PassHourTrav,72272,total travel time of passengers
PassHourTrav_ns,65670,as above yet in non-shared scenarion
PassUtility,978.396,total (dis)utility of passengers
PassUtility_ns,1018.98,as above yet in non-shared scenarion
mean_lambda,0.280263,mean vehicle cost reduction (lambda) over shar...
revenue_s,68953.5,total fares paid by travellers sharing
revenue_ns,98505,as above yet in non-shared scenarion
Fare_Discount,-0.3,relative revenue reduction
nR,200,number of trips
SINGLE,98,number of single rides in the solution
PAIRS,35,2nd degree rides in the solution
TRIPLES,8,3rd degree rides in the solution
QUADRIPLES,2,4th degree rides in the solution
QUINTETS,0,5th degree rides in the solution
PLUS5,0,rides of degree greater than 5 in the solution
shared_ratio,0.51,what portion of rides were shared
fleet_size_nonshared,26,proxy for the fleet size (lower bound)
fleet_size_shared,21,as above yet in non-shared scenarion
lambda_shared,0.280263,maximal discount to be offered while profitable
_typ,"DotMap(_typ=DotMap(), __next__=DotMap())",sys
dtype,"DotMap(_typ=DotMap(), __next__=DotMap())",sys

 all feasible rides

In [9]:
inData.sblts.rides.sample(5)

,indexes,u_pax,u_veh,kind,u_paxes,times,indexes_orig,indexes_dest,degree,index,lambda_r,PassHourTrav_ns,row,selected
796,"[28, 21]",9.57425,529,21,"[6.3217, 3.2525499999999994]","[285.0, 128, 223, 163]","[28, 21]","[21, 28]",2.0,796,0.181115,646,"[0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, ...",0
759,"[156, 181]",9.49585,752,21,"[8.009749999999999, 1.4861]","[2657.0, 507, 104, 126]","[156, 181]","[181, 156]",2.0,759,-0.186120,634,"[0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, ...",0
247,"[103, 147]",17.49895,1264,20,"[12.923399999999999, 4.57555]","[1570.0, 887, 289, 73]","[103, 147]","[103, 147]",2.0,247,-0.092481,1157,"[0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, ...",0
343,"[66, 97]",13.97690,990,20,"[8.9348, 5.0421]","[966.0, 531, 178, 266]","[66, 97]","[66, 97]",2.0,343,-0.002024,988,"[0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, ...",0
29,[29],9.91050,639,1,[9.9105],"[393, 639]",[29],[29],1.0,29,0.300000,639,"[0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, ...",0

selected rides in the solution

In [10]:
inData.sblts.schedule.sample(5)

,indexes,u_pax,u_veh,kind,u_paxes,times,indexes_orig,indexes_dest,degree,index,lambda_r,PassHourTrav_ns,row,selected
512,"[79, 81]",7.36575,447,20,"[2.58755, 4.7782]","[1173.0, 41, 178, 213]","[79, 81]","[79, 81]",2,512,0.140385,520,"[0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, ...",1
534,"[155, 177]",11.69350,728,21,"[9.402225, 2.2912749999999997]","[2607.5, 552, 157, 4]","[155, 177]","[177, 155]",2,534,0.144536,851,"[0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, ...",1
51,[51],2.08000,134,1,[2.08],"[701, 134]",[51],[51],1,51,0.300000,134,"[0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, ...",1
164,[164],2.86750,185,1,[2.8675],"[2880, 185]",[164],[164],1,164,0.300000,185,"[0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, ...",1
128,[128],2.41000,155,1,[2.41],"[2083, 155]",[128],[128],1,128,0.300000,155,"[0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, ...",1

trips with parameters of the shared ride

In [11]:
inData.sblts.requests.sample(5)

,index,origin,destination,treq,tdep,ttrav,tarr,tdrop,dist,pax_id,VoT,delta,u,u_PT,ride_id,ttrav_sh,u_sh,kind,position
114,94,3669138214,5300707250,1845,NaN,282,2020-07-03 15:39:47,NaN,2256,94,0.0035,158.043956,4.371,999999,619,282,4.145575,21,1
182,137,1402598824,1448535920,3131,NaN,450,2020-07-03 16:23:39,NaN,3602,137,0.0035,252.395604,6.978,999999,761,450,6.637225,21,1
49,119,1448535796,1371031441,687,NaN,569,2020-07-03 15:58:52,NaN,4559,119,0.0035,319.582418,8.830,999999,805,624,7.899150,30,2
92,47,2367860700,1584013959,1487,NaN,401,2020-07-03 15:49:42,NaN,3209,47,0.0035,224.835165,6.217,999999,826,453,5.712700,30,1
64,6,44768035,44715422,899,NaN,262,2020-07-03 15:21:27,NaN,2102,6,0.0035,147.428571,4.070,999999,64,262,4.070000,1,0

---
(c) Rafa≈Ç Kucharski, Delft, 2020