## ExMAS
> Exact Matching of Attractive Shared rides (ExMAS) for system-wide strategic evaluations
> 
> Kucharski R., Cats O. ,_Transportation Research Part: B_, 2020

---
#### Walkthrough

In [2]:
import os
cwd = os.getcwd()

In [3]:
os.chdir(os.path.join(cwd,'..'))
import ExMAS
import ExMAS_utils

In [4]:
from ExMAS_utils import inData as inData

### prepare

1. __load the default config__ (see more details in `ExMAS/notebooks/01 configuration.ipynb`)

In [5]:
params = ExMAS_utils.get_config('data/configs/default.json') # load the default

2. __load the network__ (see more details in `ExMAS/notebooks/02 NetworkGraphs.ipynb`)

In [6]:
inData = ExMAS_utils.load_G(inData, params, stats=True)  # download the graph

3. __generate trip requests__ (see more details in `ExMAS/notebooks/02 NetworkGraphs.ipynb`)

In [7]:
inData = ExMAS_utils.generate_demand(inData, params, avg_speed=False)

### run

In [11]:
inData = ExMAS.calc_sblt(inData, params)

02-07-20 16:44:09-WARNING-Initializing pairwise trip shareability between 200 and 200 trips.
02-07-20 16:44:09-WARNING-creating combinations
02-07-20 16:44:09-WARNING-39800	 nR*(nR-1)
02-07-20 16:44:11-WARNING-0.006080402010050251 total gain
02-07-20 16:44:11-WARNING-Degree {} 	Completed
02-07-20 16:44:11-WARNING-trips to extend at degree 2 : 534
02-07-20 16:44:12-WARNING-40 feasible extensions found
02-07-20 16:44:12-WARNING-{'potential': 305, 'feasible': 40}
02-07-20 16:44:12-WARNING-Degree {} 	Completed
02-07-20 16:44:12-WARNING-trips to extend at degree 3 : 40
02-07-20 16:44:12-WARNING-1 feasible extensions found
02-07-20 16:44:12-WARNING-{'potential': 17, 'feasible': 1}
02-07-20 16:44:12-WARNING-Degree {} 	Completed
02-07-20 16:44:12-WARNING-trips to extend at degree 4 : 1
02-07-20 16:44:12-WARNING-0 feasible extensions found
02-07-20 16:44:12-WARNING-{'potential': 0, 'feasible': 0}
02-07-20 16:44:12-WARNING-Degree {} 	Completed
02-07-20 16:44:12-WARNING-No more trips to exted at degree 5
02-07-20 16:44:12-WARNING-Matching 200 trips to 775 rides in order to minimize u_veh
02-07-20 16:44:13-WARNING-Problem solution: Optimal.
Total costs for single trips:         64,741
reduced by matching to:               52,464
02-07-20 16:44:13-WARNING-Calculations  completed
02-07-20 16:44:13-WARNING-DotMap(VehHourTrav=51684, VehHourTrav_ns=64741, PassHourTrav=72444, PassHourTrav_ns=64741, PassUtility=955.8806, PassUtility_ns=1004.5910000000001, Veh_Lambda_R=0.2632550540570789, Veh_Discount=0.24446435682994827, shared_fares=52731.0, full_fares=21781.5, revenue_s=74512.5, revenue_ns=97111.5, Fare_Discount=-0.23271188273273505, nR=200, SINGLE=68, PAIRS=52, TRIPLES=8, QUADRIPLES=1, QUINTETS=0, PLUS5=0, shared_ratio=0.6599999999999999, fleet_size_nonshared=27.0, fleet_size_shared=19.0, lambda_shared=0.24446435682994827)

### results:
KPIs

In [31]:
KPIs = inData.sblts.res.to_frame()
KPIs['description']  = ExMAS_utils.KPIs_descriptions
KPIs.columns = ['KPI', 'description']
KPIs

,KPI,description
VehHourTrav,51684,total travel time of vehicles (with travellers...
VehHourTrav_ns,64741,as above yet in non-shared scenarion
PassHourTrav,72444,total travel time of passengers
PassHourTrav_ns,64741,as above yet in non-shared scenarion
PassUtility,955.881,total (dis)utility of passengers
PassUtility_ns,1004.59,as above yet in non-shared scenarion
Veh_Lambda_R,0.263255,vehicle time reduction
Veh_Discount,0.244464,vehicle costs reduction
shared_fares,52731,total fares
full_fares,21781.5,as above yet in non-shared scenarion
revenue_s,74512.5,total revenues
revenue_ns,97111.5,as above yet in non-shared scenarion
Fare_Discount,-0.232712,maximal discount to be offered while profitable
nR,200,number of trips
SINGLE,68,number of single rides in the solution
PAIRS,52,2nd degree rides in the solution
TRIPLES,8,3rd degree rides in the solution
QUADRIPLES,1,4th degree rides in the solution
QUINTETS,0,5th degree rides in the solution
PLUS5,0,rides of degree greater than 5 in the solution
shared_ratio,0.66,how many rides were shared
fleet_size_nonshared,27,proxy for the fleet size (lower bound)
fleet_size_shared,19,as above yet in non-shared scenarion
lambda_shared,0.244464,maximal discount to be offered while profitable
_typ,"DotMap(_typ=DotMap(), __next__=DotMap())",sys
dtype,"DotMap(_typ=DotMap(), __next__=DotMap())",sys

 all feasible rides

In [33]:
inData.sblts.rides.sample(5)

,indexes,u_pax,u_veh,kind,u_paxes,times,indexes_orig,indexes_dest,degree,index,lambda_r,PassHourTrav_ns,row,selected
746,"[132, 137, 154]",18.43345,794,31,"[7.71505, 7.30625, 3.4121499999999996]","[2334.0, 198, 60, 237, 116, 183]","[132, 137, 154]","[154, 132, 137]",NaN,746,0.390637,1303,"[0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, ...",0
222,"[130, 144]",4.91785,337,20,"[2.34255, 2.5753]","[2399.0, 144, 32, 146]","[130, 144]","[130, 144]",2.0,222,-0.036923,325,"[0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, ...",0
550,"[46, 67]",9.82415,813,21,"[8.146949999999999, 1.6771999999999998]","[958.0, 327, 127, 344]","[46, 67]","[67, 46]",2.0,550,-0.245023,653,"[0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, ...",0
533,"[193, 196]",10.59275,574,21,"[6.322575, 4.270175]","[3419.5, 115, 320, 124]","[193, 196]","[196, 193]",2.0,533,0.230563,746,"[0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, ...",1
441,"[187, 192]",10.51715,498,20,"[5.573049999999999, 4.9441]","[3350.0, 46, 379, 58]","[187, 192]","[187, 192]",2.0,441,0.318741,731,"[0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, ...",0

selected rides in the solution

In [37]:
inData.sblts.schedule.sample(5)

,indexes,u_pax,u_veh,kind,u_paxes,times,indexes_orig,indexes_dest,degree,index,lambda_r,PassHourTrav_ns,row,selected
750,"[65, 56, 86]",26.509525,1016,31,"[10.307324999999999, 10.416875, 5.785325]","[1087.5, 151, 131, 383, 260, 91]","[65, 56, 86]","[86, 65, 56]",3,750,0.416762,1742,"[0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, ...",1
52,[52],1.746500,112,1,[1.7465000000000002],"[1048, 112]",[52],[52],1,52,0.300000,112,"[0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, ...",1
36,[36],1.396500,90,1,[1.3964999999999999],"[709, 90]",[36],[36],1,36,0.300000,90,"[0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, ...",1
566,"[60, 47]",13.546400,716,21,"[9.251549999999998, 4.294849999999999]","[1047.0, 41, 297, 363]","[60, 47]","[47, 60]",2,566,0.252610,958,"[0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, ...",1
511,"[187, 192]",9.989350,440,21,"[5.641299999999999, 4.34805]","[3350.0, 46, 321, 58]","[187, 192]","[192, 187]",2,511,0.398085,731,"[0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, ...",1

trips with parameters of the shared ride

In [38]:
inData.sblts.requests.sample(5)

,index,origin,destination,treq,tdep,ttrav,tarr,tdrop,dist,pax_id,VoT,delta,u,u_PT,ride_id,ttrav_sh,u_sh,kind,position
194,82,44875057,260123525,3451,NaN,309,2020-07-02 16:08:52,NaN,2472,82,0.0035,173.175824,4.7895,999999,682,309,4.461100,21,1
71,97,44782008,1571090664,1374,NaN,112,2020-07-02 15:08:05,NaN,902,97,0.0035,63.362637,1.7450,999999,71,112,1.745000,1,0
177,110,44725075,4300758655,3118,NaN,329,2020-07-02 16:06:06,NaN,2639,110,0.0035,185.076923,5.1100,999999,347,391,4.861675,20,0
132,114,44709355,44820007,2363,NaN,550,2020-07-02 16:22:53,NaN,4401,114,0.0035,308.340659,8.5265,999999,774,641,7.901600,42,0
34,198,44811247,44814930,645,NaN,156,2020-07-02 15:01:44,NaN,1250,198,0.0035,87.626374,2.4210,999999,34,156,2.421000,1,0

---
(c) Rafa≈Ç Kucharski, Delft, 2020