## ExMAS
> Exact Matching of Attractive Shared rides (ExMAS) for system-wide strategic evaluations
> 
> Kucharski R., Cats O. ,_Transportation Research Part: B_, 2020

---
#### Bigger demand level

3000 trips in Delft (67 000 feasible shared rides, 9 000 000 theoreticallly possible trip pairs)

In [1]:
import os
cwd = os.getcwd()

In [2]:
os.chdir(os.path.join(cwd,'../..'))
import ExMAS.main
import ExMAS.utils

In [3]:
from ExMAS.utils import inData as inData

### prepare

1. __load the default config__ (see more details in `ExMAS/notebooks/01 configuration.ipynb`)

In [4]:
params = ExMAS.utils.get_config('ExMAS/data/configs/default.json') # load the default 
params.nP = 3000
params.simTime = 4

2. __load the network__ (see more details in `ExMAS/notebooks/02 NetworkGraphs.ipynb`)

In [5]:
inData = ExMAS.utils.load_G(inData, params, stats=True)  # download the graph

3. __generate trip requests__ (see more details in `ExMAS/notebooks/02 NetworkGraphs.ipynb`)

In [6]:
inData = ExMAS.utils.generate_demand(inData, params)

### run

In [7]:
inData = ExMAS.main(inData, params)

02-11-20 09:23:44-INFO-Initializing pairwise trip shareability between 3000 and 3000 trips.
02-11-20 09:23:45-INFO-creating combinations
02-11-20 09:24:01-INFO-8997000	 nR*(nR-1)
02-11-20 09:25:41-INFO-Reduction of feasible pairs by 99.85%
02-11-20 09:25:41-INFO-Degree 2 	Completed
02-11-20 09:25:42-INFO-trips to extend at degree 2 : 35286
02-11-20 09:27:27-INFO-At degree 2 feasible extensions found out of 15233 searched
02-11-20 09:27:27-INFO-Degree 3 	Completed
02-11-20 09:27:27-INFO-trips to extend at degree 3 : 15233
02-11-20 09:28:23-INFO-At degree 3 feasible extensions found out of 4293 searched
02-11-20 09:28:23-INFO-Degree 4 	Completed
02-11-20 09:28:23-INFO-trips to extend at degree 4 : 4293
02-11-20 09:28:36-INFO-At degree 4 feasible extensions found out of 429 searched
02-11-20 09:28:36-INFO-Degree 5 	Completed
02-11-20 09:28:36-INFO-trips to extend at degree 5 : 429
02-11-20 09:28:37-INFO-At degree 5 feasible extensions found out of 29 searched
02-11-20 09:28:38-INFO-Degree 6 	Completed
02-11-20 09:28:38-INFO-trips to extend at degree 6 : 29
02-11-20 09:28:38-INFO-At degree 6 feasible extensions found out of 0 searched
02-11-20 09:28:38-INFO-Degree 7 	Completed
02-11-20 09:28:38-INFO-No more trips to exted at degree 7
02-11-20 09:29:35-INFO-Matching 3000 trips to 58270 rides in order to minimize u_veh
02-11-20 09:31:51-INFO-Problem solution: Optimal.
Total costs for single trips:        978,502
reduced by matching to:              668,701
02-11-20 09:31:53-INFO-Calculations  completed
02-11-20 09:31:53-INFO-DotMap(VehHourTrav=662191, VehHourTrav_ns=978502, PassHourTrav=1147201, PassHourTrav_ns=978502, PassUtility=14446.121174999998, PassUtility_ns=15182.633, mean_lambda=0.366203692758694, revenue_s=1027427.1, revenue_ns=1467753.0, Fare_Discount=-0.3, nR=3000, SINGLE=750, PAIRS=434, TRIPLES=283, QUADRIPLES=109, QUINTETS=17, PLUS5=2, shared_ratio=0.75, fleet_size_nonshared=89.0, fleet_size_shared=62.0, lambda_shared=0.366203692758694)

### results:
KPIs

In [8]:
KPIs = inData.sblts.res.to_frame()
KPIs['description']  = ExMAS.utils.KPIs_descriptions
KPIs.columns = ['KPI', 'description']
KPIs

,KPI,description
VehHourTrav,662191,total travel time of vehicles (with travellers...
VehHourTrav_ns,978502,as above yet in non-shared scenarion
PassHourTrav,1147201,total travel time of passengers
PassHourTrav_ns,978502,as above yet in non-shared scenarion
PassUtility,14446.1,total (dis)utility of passengers
PassUtility_ns,15182.6,as above yet in non-shared scenarion
mean_lambda,0.366204,mean vehicle cost reduction (lambda) over shar...
revenue_s,1.02743e+06,total fares paid by travellers sharing
revenue_ns,1.46775e+06,as above yet in non-shared scenarion
Fare_Discount,-0.3,relative revenue reduction
nR,3000,number of trips
SINGLE,750,number of single rides in the solution
PAIRS,434,2nd degree rides in the solution
TRIPLES,283,3rd degree rides in the solution
QUADRIPLES,109,4th degree rides in the solution
QUINTETS,17,5th degree rides in the solution
PLUS5,2,rides of degree greater than 5 in the solution
shared_ratio,0.75,what portion of rides were shared
fleet_size_nonshared,89,proxy for the fleet size (lower bound)
fleet_size_shared,62,as above yet in non-shared scenarion
lambda_shared,0.366204,maximal discount to be offered while profitable
_typ,"DotMap(_typ=DotMap(), __next__=DotMap())",sys
dtype,"DotMap(_typ=DotMap(), __next__=DotMap())",sys

 all feasible rides

In [9]:
inData.sblts.rides.sample(5)

,indexes,u_pax,u_veh,kind,u_paxes,times,indexes_orig,indexes_dest,degree,index,lambda_r,PassHourTrav_ns,row,selected
20545,"[2184, 2290]",8.65725,515,20,"[5.917275, 2.739975]","[10595.5, 316, 174, 10]","[2184, 2290]","[2184, 2290]",2.0,20545,0.128596,591,"[0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, ...",0
4122,"[2572, 2661]",9.90990,656,20,"[4.78205, 5.12785]","[12479.0, 256, 92, 293]","[2572, 2661]","[2572, 2661]",2.0,4122,-0.004594,653,"[0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, ...",0
49860,"[1004, 953, 950]",20.75885,839,32,"[9.8294, 5.768699999999999, 5.16075]","[4628.0, 52, 128, 326, 40, 293]","[1004, 953, 950]","[953, 950, 1004]",NaN,49860,0.385798,1366,"[0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, ...",0
56265,"[2856, 2824, 2853, 2866]",27.23735,1044,42,"[5.671049999999999, 4.698049999999999, 11.0761...","[13602.0, 22, 43, 30, 310, 96, 87, 456]","[2856, 2824, 2853, 2866]","[2824, 2856, 2866, 2853]",NaN,56265,0.439614,1863,"[0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, ...",0
25345,"[2432, 2429]",15.00730,775,21,"[8.91975, 6.087549999999999]","[11624.0, 34, 465, 261]","[2432, 2429]","[2429, 2432]",2.0,25345,0.294813,1099,"[0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, ...",0

selected rides in the solution

In [10]:
inData.sblts.schedule.sample(5)

,indexes,u_pax,u_veh,kind,u_paxes,times,indexes_orig,indexes_dest,degree,index,lambda_r,PassHourTrav_ns,row,selected
1332,[1332],2.43500,157,1,[2.435],"[6506, 157]",[1332],[1332],1,1332,0.300000,157,"[0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, ...",1
32427,"[2818, 2870]",9.28130,491,21,"[5.274675, 4.006625]","[13562.5, 167, 300, 9]","[2818, 2870]","[2870, 2818]",2,32427,0.241113,647,"[0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, ...",1
41382,"[369, 379, 385]",11.11250,618,31,"[3.572799999999999, 5.833449999999999, 1.70624...","[1844.0, 54, 78, 128, 70, 288]","[369, 379, 385]","[385, 369, 379]",3,41382,0.171582,746,"[0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, ...",1
2820,[2820],0.81650,52,1,[0.8165],"[13539, 52]",[2820],[2820],1,2820,0.300000,52,"[0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, ...",1
57242,"[653, 655, 682, 705]",23.26625,819,42,"[8.610874999999998, 5.008675, 4.46337499999999...","[3039.5, 88, 94, 34, 288, 68, 49, 198]","[653, 655, 682, 705]","[655, 682, 705, 653]",4,57242,0.484906,1590,"[0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, ...",1

trips with parameters of the shared ride

In [11]:
inData.sblts.requests.sample(5)

,index,origin,destination,treq,tdep,ttrav,tarr,tdrop,dist,pax_id,VoT,delta,u,u_PT,ride_id,ttrav_sh,u_sh,kind,position
963,676,1668136705,44845277,4578,NaN,624,2020-11-02 15:39:38,NaN,4992,676,0.0035,349.714286,9.6720,999999,41901,721,8.528975,32,0
504,1674,1501364218,1569858134,2444,NaN,777,2020-11-02 15:24:29,NaN,6217,1674,0.0035,435.560440,12.0450,999999,34550,1086,11.855900,21,0
2209,2728,5159209866,44838391,10626,NaN,54,2020-11-02 16:04:33,NaN,439,2728,0.0035,30.956044,0.8475,999999,2209,54,0.847500,1,0
2381,2999,44723198,1571087423,11381,NaN,143,2020-11-02 16:28:59,NaN,1150,2999,0.0035,80.736264,2.2255,999999,2381,143,2.225500,1,0
1215,1194,44838375,5119770538,5756,NaN,261,2020-11-02 15:10:56,NaN,2092,1194,0.0035,146.670330,4.0515,999999,37902,327,3.798200,21,0

---
(c) Rafa≈Ç Kucharski, Delft, 2020